body{
  margin: 0;
  color: black;
  text-align: center;
}
.top-container{
  background-color: yellow;
  position: relative;
  padding-top: 100px;

}
.top-cloud{
  position: absolute;
  right: 250px;


}
h1{
  font-family: 'Sacramento', cursive;
  color: #09EDC3;
  font-size: 31px;
  font-weight: normal;
  margin-top: 88px;
}
h2{  font-family: 'Sacramento', cursive;
  color: #09EDC3;
  font-size: 31px;
  font-weight: normal;
  padding: 57px 0px;
}.middle-container{
  position: absolute;
  left: 54px;;
}
.bottom-mountain{
      margin-top: 114px;
}
.intro-pic{
  height: 184px;
  width: 188px;
  border-radius: 100px;

}
.profile{
    margin: 34px 357px;
}
.intro{
  font-family: 'Sacramento', cursive;
  font-weight: normal;
  font-size: 30px;
  color:orange;
  line-height: 30px;
  margin: auto;
}
hr{
  border-style: none;
  border-width: 10px;
  border-top-style: dotted;
  width: 100px;
  color: red;
  margin: 63px auto;

}
 .fpic{
  height: 100px;
  width: 100px;
  border-radius: 20px;
  float: left;

}
.spic{
   height: 100px;
    width: 100px;
    border-radius: 17px;
    float: right;
}
.tpic{
  height: 100px;
width: 100px;
border-radius: 3px;
float: left;
}
.intro-skill{

  line-height: 20px;


}
.skill-row{
  margin: auto;
  width: 20%;

}
